body{
  font-family: arial;
  margin: 150px auto;
  width: 300px;
  height: 150px;
  outline: dashed 1px black;
  text-align: center;
  padding: 30px;
}
#subject{
  font-size: 24px;
}
#questionBox{
  margin: 15px 0 0 50px;
}
#question{
  width: 100px;
  height: 25px;
  float: left;
  text-align: center;
}
#leftOperand{
  float: left;
  width: 40%;
  margin: 3px auto;
}
#multiplicationOperator{
  float: left;
  width: 10%;
  margin: 3px auto;
}
#rigthOperand{
  float: left;
  width: 40%;
  margin: 3px auto;
}
#anotherProblem{
  margin: 2.5px;
  float: left;
}
#answer{
  margin-top: 60px;
}
#result{
  margin-top: 30px;
  text-align: center;
}
#correctQuestion{
  float: left;
  width: 100px;
}
#correctQuestionCount{
  float: left;
  width: 50px;
}
#wrongQuestion{
  float: left;
  width: 100px;
}
#wrongQuestionCount{
  float: left;
  width: 50px;
}