table {
  border-collapse: collapse;
  text-align: center;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  background-color: white;
  font-weight: bolder;
  font-size: 45px;
}
td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#calculationProcessWindow {
  box-sizing: border-box;
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-bottom: none;
  padding: 5px 5px 0 0;
  text-align: right;
  color: grey;
}
#result {
  text-align: right;
  padding-right: 5px;
}
#allClear {
  background-color: pink;
}
.number {
  background-color: rgb(180, 228, 246);
  cursor: pointer;
}
.operator {
  background-color: rgba(173, 247, 179, 0.73);
  cursor: pointer;
}