#toDoInput{
  width: 200px;
}
#subject{
  font-size: 20px;
  font-weight: bold;
}
#selectAll{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#addButton{
  cursor: pointer;
}
#deleteButton{
  cursor: pointer;
}
#remainingDoBox{
  margin-top: 5px;
  font-size: 17px;
}