body{
  margin: 0 auto;
  width: 300px;
  padding : 150px 0;
}
#toDoInput{
  width: 200px;
}
#subject{
  font-size: 20px;
  font-weight: bold;
}
#selectAll{
  width: 13px;
  height: 13px;
  cursor: pointer;
}
#addButton{
  cursor: pointer;
}
#deleteButton{
  cursor: pointer;
}
#remainingDoBox{
  margin-top: 5px;
  font-size: 17px;
}